body{
  background-image:url("https://images.prismic.io/screencloud/52ffa5d285dc48ec31d86b24e2a18fd23e0eed65_02.jpg?auto=compress,format");
  background-size:auto;
}
.whole-body{

}


.outer-box{
  margin-left: 550px;
  margin-top: 70px;
  height: 610px;
  width: 500px;
  border: 5px solid;
  border-color:(to right , #f6830f 50%,#b8de6f 100%);
  /* border: */
}

/* S */
